
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>
<br />
<p><del>Başlıklarda arama kutucuğu</del></p>
<p><del>Yazar görselleri düzenlenecek</del></p>
<p><del>Grafikler</del></p>
<p><del>Vitrin teması</del></p>
<p><del>Gelen kutusunda arama işlemi</del></p>
<p><del>Yetkilendirmeler</del></p>
<p><del>Hata sayfası layouttan ayrılacak</del></p>
<p><del>Sözlük ve Vitrin Ayrılacak</del></p>
<p><del>Herhangi bir tablo raporlanacak</del></p>
<p><del>Siteye git düzenlenecek</del></p>
<p>Proje dosyaları sunucuya taşınacak</p>
<p>Proje canlıya taşınacak</p>
<p>Alan adı alınacak</p>
<p>URL'de ID yerine isim gelsin</p>
<p><del>IFrame Ekleme</del></p>
<p><del>SweetAlert</del></p>
<p>Admin Çıkışı</p>