
@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_Deneme.cshtml";
}

<h2>Sertifika Görevleri</h2>

<p><del>Github Reposu Oluşturulacak</del></p>

<p><del>Mevcut Github Repoları Güncellenecek</del></p>
<p><del>Başlık tablosunda "yazılım" kategorisine ait başlık sayısı</del></p>
<p><del>Yazar adında 'a' harfi geçen yazar sayısı</del></p>
<p><del>En Fazla başlığa sahip kategori sayısı</del></p>
<p><del>Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</del></p>

<p><del>Mevcut Github Repoları Güncellenecek</del></p>
<p>Gelen kutusunda okundu okunmadı seçeneği</p>
<p>Okunmamış mesaj sayısı</p>
<p><del>Aktif yap Pasif Yap</del></p>
<p>Admin bilgileri hashleme</p>
<p><del>Oturum açma işlemlerini mimariye taşıma</del></p>
<p><del>Rolleme işlemi mimariye taşınsın</del></p>
<p>Size ait bir yetenek kartı sayfası</p>